
  .gh-head, .site-header-content {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .gh-head a, .site-header-content a {
    color: var(--text-color);
  }
  .gh-head a:hover, .site-header-content a:hover {
    color: var(--accent-color);
    padding: 0.5rem 0;
  }

  






